body, p {
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    width: 12%;
    padding: 1.8em;
}
nav a { 
    text-decoration: none;
    color: rgb(107, 104, 104);
}
a:hover {
    text-decoration: underline;
    color: gray;
}

nav img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    color: transparent;
}
img:hover {
    text-decoration: circle;
    color: gray;
}
main {
    width: 50%;
    margin: 7em auto;
    text-align: center;
}
main img {
    width: 50%;
}
input {
    box-sizing: border-box;
    width: 80%;
    margin: 1em;
    border-radius: 40px;
    border: 1px solid rgb(194, 191, 191);
    padding: 1em;
}
.btn-container {
    margin: 1em;
}
.btn-container button {
    padding: 7px;
    margin-right: 8px;
    margin-bottom: 8px;
    border: 1px solid #f8f9fa;
    border-radius: 3px;
    background-color: #f8f9fa;
    color: #3c4043
    font-family: arial,sans-serif;
    font-size: 14px;
}
button:hover {
    background-color:  #e0e5e9;
    border: 1px solid transparent;
}

main a {
    margin: 5px;
    padding: ;
    text-decoration: none;
}
footer {
    background-color: rgba(236, 231, 231, 0.993);

}
footer p {
    padding-left: 20px;
    padding-top: 10px;
    color: gray;
}
footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
footer a {
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 14px;
    color: gray;
}
.left a {
    padding-left: 20px;
    
}
.middle-link {
    padding-right: 50px;
}
.right a {
     padding: 10px;
   }
   hr {
       color: rgba(250, 245, 245, 0.966);
       background-color: #3681be;
   }
